body
  {
    background-image: url(images/pexels-james-wheeler-417074.jpg);
    background-repeat: no-repeat;    
  }
  
.Contact
{
  text-align: center;
}

.Contact a
{
    display: inline;
    padding-right: 15px;
    padding-left: 15px;
    color: rgb(26, 39, 40);
}
